<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Produtos - Distribuidora de Alimentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <header>
        <h1>Gerenciamento de Produtos</h1>

        <a href="/cadastrarusuario">Cadastrar Usuário</a>
        <br>
        <a href="/login">Login</a>
    </header>

    <main>
        <p>Seja bem-vindo ao sistema de gerenciamento de produtos da Distribuidora de Alimentos!</p>
        <p>Acesse sua conta para gerenciar produtos, visualizar informações e realizar outras operações.</p>
    </main>

    <footer>
        <p>&copy; 2024 - Distribuidora de Alimentos</p>
    </footer>
</body>
</html>